$expand-btn-height: 30px;
$expand-btn-width: 50px;

.about-section {
    display: flex;
    flex-direction: column;
    margin-top: -(calc($spacer-3 + 100px));
    // align-items: center;
    gap: calc($regular-gap / 2);

    @media (min-width: 1200px) {
        flex-direction: row;
        margin-top: $spacer-3;
    }
    

    .my-face {
        img {
            width: $main-img-width;
            border-radius: $spacer-1;
            box-shadow: $box-shadow;
        }
        

    }

    .about-box {
        font-size: 1rem;
        line-height: 1.5;
        width: $main-img-width;
        background-color: darken($pale-blue, 5%);
        border-radius: $spacer-1;
        padding: $spacer-1 $spacer-2;
        box-shadow: $box-shadow;
        max-height: calc($main-img-width - ($spacer-1 * 2));
        overflow: hidden;
        transition: max-height $transition-fast;
        position: relative;
        text-align: left;
        

        @media (min-width: 1200px) {
            width: calc($main-img-width * 1.5);
        }

        p {
            margin-block-start: 0;
        }

        &.expanded {
           // min-height: calc($main-img-width * 3);
            max-height: calc($main-img-width * 3);
        }

        button {
            position: absolute;
            bottom: $spacer-1;
            left: 50%;
            margin-left: -(calc(($expand-btn-width + $spacer-half * 2) / 2));
            background-color: $dark-blue;
            box-shadow: $box-shadow;
            height: $expand-btn-height;
            padding: 2px $spacer-half;
            color: $pale-blue;
            transition: $transition-basic;

            &:hover {
                background-color: lighten($dark-blue, 10%);
                scale: 1.1;
            }
        }

    }
}

