  //// rectangles
   
$rectangle-width-desktop: 150px;
$rectangle-height-desktop: calc($rectangle-width-desktop / 2);
$rectangle-width-mobile: 70px;
$rectangle-height-mobile: calc($rectangle-width-mobile / 2);
$rectangle-border: 4px;

// $tri-border-left-right: 50px solid transparent;
// $tri-border-top-bottom: 86.60254px solid transparent;
// $tri-colors:  #E0BBE4, #957DAD, #D291BC, #FEC8D8, #FFDFD3;

.nav-mobile-new {
    transform: translateX(100vw);
    transition: $transition-basic;
}

.active-menu {
    transform: translateX(0);
}

.nav-position-new {
    position: relative;
    justify-content: flex-end;
    height: 36px;

    .nav-mobile-new {
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 28px;
        right: 0;
        background: $pale-blue;
        z-index: 20;
        padding: $spacer-1 22px $spacer-1 $spacer-2;
        box-shadow: $box-shadow;
        opacity: 0.95;
        
    
        li {
            margin: 0;
            text-align: right;
            width: 100%;
            font-size: 1.75rem;
            padding: $spacer-half 0;
        }
    }
}




.menu-icon-wrapper {
    width: 20px;
    height: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: $spacer-1 $spacer-1 0 0;

    .menu-icon {
        height: 0;
        width: 20px;
        border-bottom: 2px solid $dark-blue;
        -webkit-transition: border-color .3s ease;
        transition: border-color .3s ease;
        // border-radius: 2px;

        &::before,
        &::after {
            content: "";
            display: block;
            position: absolute;
            border-top: 2px solid $dark-blue;
            width: 20px;
            transition: top .1s ease .1s,transform .1s ease,-webkit-transform .1s ease;
            // border-radius: 2px;

        }

        &::before {
            top: 2px;
            transform-origin: top left;

        }

        &::after {
            bottom: 2px;
            transform-origin: bottom left;

        }

    }

    .showing-menu {
        border-bottom: transparent;
        &::before {
            // top: 2px;
            transform: rotate(45deg);

        }
        
        
        &::after {
            // bottom: 2px;
            transform: rotate(-45deg);

        }
    }

}







  .rectangles-area {
    display: flex;
    margin-top: 10%;
    max-width: calc(($rectangle-width-mobile + $rectangle-border) * 5);
    flex-wrap: wrap-reverse;
    flex-direction: row-reverse;

    @media (min-width: 1200px) {
        max-width: calc(($rectangle-width-desktop + $rectangle-border) * 5);

    }
}
  
.rectangle {
    height: $rectangle-height-mobile;
    width: $rectangle-width-mobile;
    border: 2px solid lighten($dark-grey, 10%);
    background-color: lighten(#B35642, 10%);
    opacity: 0;
    transition: opacity 0.6s ease;

    @media (min-width: 1200px) {
        height: $rectangle-height-desktop;
        width: $rectangle-width-desktop;
    }
}

.opaque {
    opacity: 1;
}


/////circles

.circles-area {
    display: flex;
    margin-top: 220%;

    @media (min-width: 1200px) {
        margin-top: 15%;

    }
}

.circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid $dark-blue;
}

@keyframes increase-diameter-mobile {
    0% {
        transform: scale(1.0);
    
    }
    50% {
        transform: scale(3.0);
    }
    100% {
        transform: scale(0.5);
    }
  }

@keyframes increase-diameter-desktop {
    0% {
        transform: scale(1.0);
    
    }
    50% {
        transform: scale(5.0);
    }
    100% {
        transform: scale(0.5);
    }
  }
  
  .animate-circle {
    animation: increase-diameter-mobile 5s infinite alternate;

    @media (min-width: 1200px) {
        animation: increase-diameter-desktop 5s infinite alternate;
    }
  }

  .pink-border {
    border: 1px solid $light-pink;
  }

  .columns {
    display: flex;
    flex-direction: column;
  }

  ///////////triangles 

  $tri-border-left-right: 50px solid transparent;
  $tri-border-top-bottom: 86.60254px solid transparent;
  // (border-left-width 50px + border-right-width 50px) * 0.8660254 = 86.60254px  
  //     border-bottom-width = EquilateralTriangle height
  $tri-colors:  #E0BBE4, #957DAD, #D291BC, #FEC8D8, #FFDFD3, 
                #E0BBE4, #957DAD, #D291BC, #FEC8D8, #FFDFD3;

  .triangles-area {
    margin-top: 25%;
    position: relative;
    margin-bottom: 25%;

    .triangle-up {
        width: 0;
        height: 0;
        border-right: 50px solid  transparent; 
        border-left: 50px solid  transparent; 
        border-bottom: 86.60254px solid nth($tri-colors, 1);  
        position: absolute;

    }

    .triangle-down {
        width: 0; 
        height: 0; 
        border-left: 50px solid transparent;
        border-right: 50px solid transparent;
        border-top: 86.60254px solid nth($tri-colors, 2);
        position: absolute;
        top: 0;
        left: 50px;
      }

    .border-change {
        border-bottom-color: nth($tri-colors, 3);

    }
}

