

.slideshow-container {
    max-width: $mobile-width-container;
    position: relative;
    margin: auto;

    @media (min-width: 1200px) {
        max-width: $desktop-width-container;
    }
}

.bobby-slides {

    display: none;

    img {
        width: 100%;
    }
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: $spacer-1;
    color: $oatmeal;
    font-weight: bold;
    font-size: 1.125rem;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    line-height: 1;


    @media (min-width: 1200px) {
        line-height: 2;
        &:hover {
            background-color: $dark-blue-translucent;
            
        }
    }

}

.prev {
    left: 0px;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

//glowing button
@keyframes glowing {
    0% {
      background-color: $dark-blue-translucent;
      box-shadow: 0 0 3px $dark-blue-translucent;
    }
    50% {
      background-color: $dark-blue;
      box-shadow: 0 0 10px $dark-blue;
    }
    100% {
      background-color: $dark-blue-translucent;
      box-shadow: 0 0 3px $dark-blue-translucent;
    }
}

.flashing {
    animation: glowing 1300ms infinite;
}
///
.text, 
.numbertext {
    color: $oatmeal;
    background-color: $dark-blue-translucent;
    padding: 0 $spacer-half;
    border-radius: 20px;
}
.text {
    font-size: 1rem;
    font-weight: 600;
    position: absolute;
    bottom: 20px;
    left: calc(50% - 26px); //half width of text box;
    width: fit-content;
    text-align: center;
}

.numbertext {
    font-size: 0.75rem;
    position: absolute;
    top: 4px;
    left: 4px;
}

.dots {
    text-align: center;
    display: flex;
}

.dot {
    cursor: pointer;
    height: $spacer-half;
    width: $spacer-half;
    margin: 0 2px;
    background-color: lighten($dark-blue, 20%);
    border-radius: 50%;
    display: inline-block;
    
    transition: background-color 0.6s ease;

    @media (min-width: 1200px) {
        height: $spacer-1;
        width: $spacer-1;
    }
}

.active, 
.dot:hover {
    background-color: $dark-blue;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }