.quiz-intro {
    font-size: 1.25rem;
    margin: 0 $margin-1;

    @media (min-width: 1200px) {
        font-size: 1.5rem;
    }
}

.quiz-questions {
    margin-top: $regular-gap;
}

.question-number-declaration {
    font-size: 1.25rem;
}

fieldset {
    border-color: lighten($dark-blue, 10%);
}

legend {
    font-weight: 600;
}

.choices {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1.375rem;

    
    input,
    label {
        &:hover {
            cursor: pointer;
        }
    }
    

    @media (min-width: 1200px) {
        font-size: 1.5rem;
    }

    label {
        margin-right: $spacer-1;

        &::selection {
            color: $dark-blue;
            background-color: transparent;
        }
    }
}

.quiz-results {
    position: relative;

    .cake-desription {
        margin: 0 $margin-1;
        font-size: 1.25rem;
        line-height: 1.5;

        @media (min-width: 1200px) {
            margin: 0 20%;
            font-size: 1.625rem;
        }
    }
    img {
        height: $main-img-width;
        width: $main-img-width;
        margin-top: $regular-gap;
        box-shadow: $box-shadow;

        @media (min-width: 1200px) {
            height: calc($main-img-width * 1.5);
            width: calc($main-img-width * 1.5);
        }
    }

    .image-credit {
        font-size: 1.125rem;
        font-weight: 900;
        color: $oatmeal;
        -webkit-text-stroke: 2px $dark-blue;
        position: absolute;
        bottom: $spacer-1;
        left: calc(50% - ($main-img-width / 2) + $spacer-half);

        @media (min-width: 1200px) {
            left: calc(50% - ($main-img-width * 1.5 / 2) + $spacer-half);
        }

        a {
            color: $oatmeal;
            -webkit-text-stroke: 2px $dark-blue; 
        }
    }
}

.hidden { 
    display: none;
}

