//contact page

.contact-header {
    img {
        height: 48px;

        @media (min-width: 1200px) {
            height: 40px;
        }
    }
}

.business-card {
    background-color: $light-pink;
    color: $dark-blue;
    height: calc(187px + $regular-gap);
    width: calc(262px + $regular-gap);
    margin: 0 auto;
    padding: $regular-gap;  
    border-radius: calc($regular-gap / 2);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 5px 5px 10px $dark-blue;  
    flex-direction: column;

    @media (min-width: 1200px) {
        height: calc(250px + $regular-gap);
        width: calc(350px + $regular-gap);
    }

    &__upper {
        display: flex;
        flex-direction: column;
        margin: 15% 0;


        @media (min-width: 1200px) {
            flex-direction: row;
            margin: 25% 0;
        }
    }
    &__left {
        text-align: center;

    }

    &__right {
        padding: 10px 20px;
        font-size: 1em;

        @media (min-width: 1200px) {
            font-size: 18px;
            padding: 10px 0 10px 20px;
        }
    }

    h2 {
        margin: 0;
        border-bottom: 5px solid $dark-blue;
        padding: 10px;
        font-size: 24px;

        @media (min-width: 1200px) {
            border-right: 5px solid $dark-blue;
            border-bottom: none;
            padding: 0;
        }
    }

    &__lower {
        align-self: flex-end;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        gap: 10px;

        img {
            height: 36px;
            width: 36px;

            @media (min-width: 1200px) {
                height: 40px;
                width: 40px;
            }
        }
    }

}