//contact page


.business-card {
    background-color: $light-pink;
    color: $dark-blue;
    height: calc(187px + $spacer-2);
    width: calc(262px + $spacer-2);
    margin: 0 auto;
    padding: $spacer-2;  
    border-radius: $spacer-1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: $box-shadow-blue;  
    flex-direction: column;

    @media (min-width: 1200px) {
        height: calc(250px + $spacer-2);
        width: calc(350px + $spacer-2);
    }

    &__upper {
        display: flex;
        flex-direction: column;
        margin: 15% 0;


        @media (min-width: 1200px) {
            flex-direction: row;
            margin: 25% 0;
        }
    }
    &__left {
        text-align: center;

    }

    &__right {
        padding: $padding-1 $padding-2; 
        font-size: 1rem;

        @media (min-width: 1200px) {
            font-size: 1.125rem;
            padding: 0 0 0 $padding-2;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }

    h2 {
        margin: 0;
        border-bottom: $border-thick;
        padding: $padding-1;
        font-size: 1.5rem;

        @media (min-width: 1200px) {
            border-right: $border-thick;
            border-bottom: none;
            padding: 0;
        }
    }

    &__lower {
        align-self: flex-end;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        gap: $spacer-1;

        img {
            height: 40px;
            width: 40px;
        }
    }

}