$curved-div-height: calc(832px + 100px);

.curved {
    background-color: $light-pink;
    color: $dark-blue;
    text-align: center;
    width: calc(1200px * 2.5);
    padding-top: 100px;
    line-height: 1.5;

    @media (min-width: 1200px) {
    }

    h2 {
        font-size: 2.5rem;
        margin-top: 0;
        height: 70px;

        @media (min-width: 1200px) {
            font-size: 3rem;

        }
    }
        
    
    .my-name {
        font-size: 1.875rem;
        font-weight: 600;

        @media (min-width: 1200px) {
            font-size: 2rem;
        }
    }
    .my-bio {
        font-size: 1.125rem;
        margin: 0 40%;
        line-height: 1.5;

        @media (min-width: 1200px) {
            margin: 0 40%;
            font-size: 1.5rem;
        }
    }

    svg {
        display: block;
    }
}

.fade-in {
    animation: fade-in-greeting 1.5s forwards;
}


@keyframes fade-in-greeting {
    0% {
      opacity: 0;
      
    }

    50% {
        opacity: 0;
    }
    100% {
      opacity: 1;
    }
    
  }