$curved-div-height: calc(832px + 100px);

.curved {
    background-color: $light-pink;
    color: $dark-blue;
    text-align: center;
    width: calc(1200px * 2.5);
    padding-top: 100px;

    @media (min-width: 1200px) {
    }

    h2 {
        font-size: 2rem;
        margin-top: 0;

        @media (min-width: 1200px) {
            font-size: 3rem;

        }
    }

    .my-bio {
        font-size: 24px;
        margin: 0 45%;
        line-height: 1.5;
    }

    svg {
        display: block;
    }
}