//dropdown menus



.flex-column {
    display: flex;
    flex-direction: column;
}

nav {
    ul {
        position: relative;


        .nav-links {
            position: absolute;
            top: $regular-gap;
            background-color: lighten($oatmeal, 5%);
            z-index: 2;
            padding: 10px;
            max-width: 100px;
            display: flex;
            flex-direction: column;
        }

        .hide-menu {
            display: none;
        }

        #project-links {
            right: 235px;
        }

        #experience-links {
            right: 375px;

        }
    }
}