footer {
    text-align: left;
    padding: 0 $spacer-2 $spacer-1;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    border-top: 1px solid lighten($light-grey, 10%);


    @media (min-width: 1200px) {
        overflow-x: scroll;
        white-space: nowrap;
    }

    .footer-info-wrapper {
        display: flex;
        padding-top: $padding-1;
        justify-content: space-between;
        flex-direction: column;


        @media (min-width: 1200px) {
            flex-direction: row;
        }
    }

    .footer-info {
        position: relative;
        line-height: 2;

        .copyto {
            display: none; 

            @media (min-width: 1200px) {
                display: inline-block;
            }
        }

        .mailto {
            display: flex;

            @media (min-width: 1200px) {
                display: none;
            }
        }

        .copy-btn {
            display: none;

            @media (min-width: 1200px) {
                display: inline-block;
                cursor: pointer;
                background-color: $light-pink;
                align-items: center;
                border-radius: 50%;
                font-size: 1.1rem;
                padding: 3px 8px;
    
                &:hover ~ .tooltiptext {
                    opacity: 1;
                }
    
                &:focus ~ .tooltiptext {
                    opacity: 1;
                }
            }


        }

        .tooltiptext {
            top: 0;
            left: 430px;
            pointer-events: none;

            &::after {
                top: calc(50% - 5px);
                margin-left: -70px;
                border-color: transparent #163057 transparent transparent ;
            }
        }
    }

    .footer-nav {
        margin-top: $spacer-1;
        @media (min-width: 1200px) {
            margin-top: 0;
        }

        .sitenav-mobile-header {
            @media (min-width: 1200px) {
                display: none;
            }
        }

        ul {
            list-style: none;
            display: flex;
            margin: 0;
            padding-left: 0;
            flex-direction: column;

            @media (min-width: 1200px) {
                flex-direction: row;
                align-items: center;

            }

            li {
                padding: 0 $spacer-half;
                margin-top: $spacer-half;
                @media (min-width: 1200px) {
                    margin-top: 0;
                    padding: 0 $padding-2;

                }
            }
        }

        .social-logos-desktop {
            display: none;

            @media (min-width: 1200px) {
                display: block;

                img {
                    height: 26px;
                    width: 26px;
                }
            }
        }

        .social-logos-mobile {
            display: block;

            img {
                padding-right: $spacer-half;
                height: 26px;
                width: 26px;
            }

            @media (min-width: 1200px) {
                display: none;
            }
        }
    }

    
}

.oncopy-tooltiptext {

    @media (min-width: 1200px) {
        display: none;
        //opacity: 0; 
        width: fit-content;
        height: fit-content;
        top: -(calc($hr-margin / 2));
        left: calc($footer-content-width + ($padding-2 * 2));
        padding: 5px;
        background-color: $dark-blue;
        color: $pale-blue;
        text-align: center;
        border-radius: 6px;
        position: absolute;
        transition: $transition-basic;
        font-size: 1rem;
        line-height: 1.5;

        &:hover {
            cursor: pointer;
        }
    }
}

.invisible {
    opacity: 0;
    pointer-events: none;
}

@keyframes visibleThenInvisible {
    0%    { opacity: 0; }
    50%   { opacity: 1; }
    100%  { opacity: 0; }
  }
  
//   .animate-this-element {
//     animation: visibleThenInvisible 3s infinite;
//   }