

#hangman {
    //position: relative;

    &__header {
        margin-bottom: $spacer-1;
    }

    &__lower-header {
        margin: 0 0 $spacer-2;
    }
}

.input-area {
    height: 36px;
    display: flex;
    gap: 10px;
    align-items: center;
}

#input-box-hangman {
    height: $spacer-2;
    width: 210px;
    border: $border-2;
    font-size: 1rem;
    padding: 0 2px;

    @media (min-width: 1200px) {
        width: $input-box-width;

    }
}

#submit-btn {
    padding: 2px $spacer-half;
    height: $btn-size;
    width: fit-content;
    background: $light-pink;
    color: $dark-blue;
    text-align: center;
    font-size: 1rem;
    cursor: pointer;
    transition: $transition-fast;
    line-height: 1.5;
    display: flex;
    align-content: center;
    flex-wrap: wrap;

    @media (min-width: 1200px) {
        padding: 2px 10px;
    }

    &:hover {
        background-color: darken($light-pink, 10%);

    }
}

#guess-confirmation {
    height: $spacer-2;
    font-size: 1rem;
}

#restart-btn {
    padding: 2px 8px;
    height: $btn-size;
    width: fit-content;
    background: lighten($light-pink, 3%);
    color: $dark-blue;
    text-align: center;
    font-size: 1rem;
    cursor: pointer;
    transition: $transition-fast;
    line-height: 1.5;
    display: none;
    align-content: center;
    flex-wrap: wrap;
    position: absolute;
    top: 13%;

    @media (min-width: 1200px) {
        padding: 2px 10px;
    }

    &:hover {
        background-color: $light-pink;

    }
}

#letters-area {
    display: flex;
    margin-top: $spacer-1;
    gap: $spacer-1;
    flex-direction: column;

    @media (min-width: 1200px) {
        flex-direction: row;
        margin-top: $spacer-2;
        gap: $regular-gap;
    }
}

#answer-box {
    background-color: lighten($light-pink, 3%);
    height: 64px;
    width: 300px;

    #letter-row {
        padding-top: 10px;
    }
}

#guessed-letter-log-incorrect {
    background-color: $light-grey;
    height: 160px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 10px;

    @media (min-width: 1200px) {
        height: 200px;
    }

    #show-answer {
        height: 40px;
        font-size: 1.25rem;
    }

    #lives-counter {
        height: 32px;
    }

    
}

.modal {

    &__winner,
    &__loser {
        display: none;
        position: absolute;
        top: -75%;
        margin: 20px auto;
        z-index: 9;

        &:hover {
            cursor: pointer;
        }
        
        img {
            height: auto;
            width: 100%;
        }
    }

    
  
}
