//header


.nav-bar {

    &__inner-desktop {
        display: none;

        @media (min-width: 1200px) {
            display: flex;
            justify-content: flex-end;
            z-index: 9;
            height: $nav-bar-height;
        }
    }

    &__inner-mobile {
        display: flex;
        overflow: scroll;
        
    
        @media (min-width: 1200px) {
            display: none;
        }
    }
    

    &__items {
        display: flex;
        justify-content: center;
        list-style: none;
        font-size: 1rem;
        gap: $spacer-half;
        padding: 0;
        margin: 16px auto;

        @media (min-width: 1200px) {
            justify-content: flex-end;
            gap: $spacer-3;
            padding-right: $spacer-2;
            font-size: 1rem;
            margin: 16px 0;
        }

        .nav-bar__item {
            width: fit-content;
            
            @media (min-width: 1200px) {
                width: 125px;
                z-index: 9;
                overflow-y: visible;
            }
        }

        .nav-links {
            background-color: $pale-blue;
            padding: $padding-1;
            width: 150px;
            display: none;
            flex-direction: column;
            box-shadow: $box-shadow;
            
        }

    }
    
}

.dropdown-menu {
    display: flex;
    flex-direction: column;
    align-items: center;

    &:hover {

        .nav-links {
            display: flex;
            flex-direction: column;

            
        }
    }
}



    
