.carouselWrapper {
    width: $mobile-width-container;
    position: relative;

    @media (min-width: 1200px) {
        width: calc($desktop-width-container - 1px); //picture is a bit smaller than width
        
    }
}

.carouselContainer {
    display: flex;
    flex-wrap: nowrap;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    overflow-x: auto;
    scrollbar-width: 0;
    scrollbar-color: transparent transparent;

    &::-webkit-scrollbar {
        display: none;
      }
}

.carouselContainer {
    .carouselItem {
        flex-grow: 0;
        flex-shrink: 0;
        max-width: 100%;
        // we are telling browser to align each item centrally to 
        // screen as it scrolls into viewport
        scroll-snap-align: center;

        img {
            height: calc($mobile-width-container * 1.334);
            width: 100%;

            @media (min-width: 1200px) {
                height: 1600px;

            }
        }
    }
}

.stop-btn,
.play-btn {
    border-radius: 50%;
    height: calc($btn-size * 1.5);
    width: calc($btn-size * 1.5);
    position: absolute;
    top: -$spacer-3;
    cursor: pointer;
    color: darken($light-pink, 10%);
    background-color: $dark-blue;
    box-shadow: none;
    opacity: 0.7;
    z-index: 1;
    
}

.stop-btn {
    right: $spacer-3;
}

.play-btn {
    right: calc($spacer-3 * 2);
}

.active-btn {
    opacity: 1;
    box-shadow: 5px 5px 10px $dark-blue;
    scale: 1.125;
}

