.slideshow-page {
    margin-top: 32px;
    @media (min-width: 1200px) {
        margin-top: 0;
    }
}

.carouselWrapper {
    width: $mobile-width-container;
    position: relative;

    @media (min-width: 1200px) {
        width: calc($desktop-width-container - 1px); //picture is a bit smaller than width
        
    }
}

.carouselContainer {
    display: flex;
    flex-wrap: nowrap;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    overflow-x: auto;
    scrollbar-width: 0;
    scrollbar-color: transparent transparent;

    &::-webkit-scrollbar {
        display: none;
      }
}

.carouselContainer {
    .carouselItem {
        flex-grow: 0;
        flex-shrink: 0;
        max-width: 100%;
        // we are telling browser to align each item centrally to 
        // screen as it scrolls into viewport
        scroll-snap-align: center;

        img {
            height: calc($mobile-width-container * 1.334);
            width: 100%;

            @media (min-width: 1200px) {
                height: 1600px;

            }
        }
    }
}

.stop-btn,
.play-btn {
    border-radius: 50%;
    height: $btn-size;
    width: $btn-size;
    position: absolute;
    top: -(calc($spacer-2 + 10px)); //plus diameter of box shadow
    cursor: pointer;
    color: darken($light-pink, 10%);
    background-color: $dark-blue;
    opacity: 0.7;
    box-shadow: none;
    z-index: 1;
    font-size: 1rem;

    img {
        height: $btn-size;
        width: $btn-size;
    }

    @media (min-width: 1200px) {
        height: calc($btn-size * 1.5);
        width: calc($btn-size * 1.5);
        top: -$spacer-3;
        font-size: 1.5rem;

        img {
            height: calc($btn-size * 1.5);
            width: calc($btn-size * 1.5);
        }
    }
    
}

.stop-btn {
    
    right: $spacer-1;

    @media (min-width: 1200px) {
        right: $spacer-3;
    }
}

.play-btn {
    
    right: $spacer-3;

    @media (min-width: 1200px) {
        right: calc($spacer-3 * 2);
    }
}

.pressable-btn {
    opacity: 1;
    box-shadow: 5px 5px 10px $dark-blue;
    scale: 1.25;
}

