$header-height: 193px;
$close-btn-size: 38px;
$upsidedown-triangle: $dark-blue transparent transparent transparent;

body {
    position: relative;
}

.sidebar-widget-container {
    overflow: hidden;
    position: absolute;
    top: calc($header-height - $spacer-2);
    right: 10px;
    z-index: 7;
    transition: $transition-basic;
    transform-origin: top right;
    pointer-events: auto;


    @media (min-width: 1200px) {
        top: $header-height;
        right: 100px;
    }
}

.sidebar-widget {
    height: calc($mobile-width-container - $spacer-2);
    width: $mobile-width-container;
    border: $border-2;
    color: $dark-blue;
    background-color: $oatmeal;
    transition: $transition-basic;
    transform: translateX(0);
    translate: none;
    overflow: auto;
    opacity: 1;

    @media (min-width: 1200px) {
        width: calc($desktop-width-container / 2);
        height: fit-content;

    }

    .overview-heading-box {
        background-color: $dark-blue;
        color: $oatmeal;
        padding: 0 $padding-1;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.75rem;
        //position: relative;
        height: calc(($mobile-width-container - $spacer-2) / 5);

        .overview-heading {
            font-weight: 600;
            margin: 0 20%;

            @media (min-width: 1200px) {
                margin: 0 35%;
            }
        }
    }

    .page-overview {
        padding: 0 $spacer-1;
        font-size: 1rem;
        line-height: 1.5;
    }

    ul {
        text-align: left;
        padding-inline-start: 28px;

        @media (min-width: 1200px) {
            padding-inline-start: 40px;
        }

        li {
            padding-bottom: $spacer-half;
        }
    }

    .hidden {
        display: none;
    }

}

.widget-close {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $oatmeal;
    background-color: transparent;
    border-radius: 50%;
    font-weight: 600;
    font-size: 1.75rem;
    transition: $transition-basic;
    position: absolute;
    top: calc($header-height - $close-btn-size);
    left: calc(100% - 46px);
    height: $close-btn-size;
    width: $close-btn-size;
    padding: 3px;
    z-index: 8;

    
    
    &:hover {
        cursor: pointer;
    }

    @media (min-width: 1200px) {
        top: calc($header-height - 10px);
        left: calc(100% - 145px);
        height: 50px;
        width: 50px;
    }
    
}

.tooltiptext {
    display: none; 

    @media (min-width: 1200px) {
        display: block;
        opacity: 0;
        background-color: $dark-blue;
        color: $oatmeal;
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;
        position: absolute;
        transition: $transition-basic;
        z-index: 2;
        font-size: 1rem;
        line-height: 1.5;
        width: 120px;
        top: calc($header-height - 42px);
        right: 57px;

        
    }
    //mobile styles
    // width: 75px;
    // top: calc($header-height - 100px);
    // right: 10px;
    
    &::after {
        display: none;

        @media (min-width: 1200px) {
            display: block;
            content: "";
            position: absolute;
            top: 100%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: $upsidedown-triangle;
            //left: 83%; //mobile
            left: 50%;
        }
        
    }

}

.opaque {
    opacity: 1;
}

.translucent {
    @media (min-width: 1200px) and (max-width: 1490px) {
        opacity: 0.6;
    }
    
}

.higher {
    top: calc($header-height - 105px);

    @media (min-width: 1200px) {
        top: calc($header-height - 52px);
    }
}

.rotated {
    transform: rotate(135deg);
    //background-color: $dark-blue;
}

.translated {
    transform: translateX(91%);

    @media (min-width: 1200px) {
        transform: translateX(94%);
    }
}

.no-pointer-events {
    pointer-events: none;
}









// <div class="tooltiptext"> 

// </div>
//     <div id="widget-close" class="widget-close">
//       × 
//     </div>

// <div id="sidebar-widget-container" class="sidebar-widget-container">
//     <div id="sidebar-widget" class="sidebar-widget">
//         <div class="overview-heading-box">
//             <h2 class="overview-heading">
//             Page overview 
//             </h2>
//         </div>
        
//         <div class="page-overview">
//             <ul>
//                 <li class="brief">
//                     Brief
//                 </li>
//                 <li class="concepts">
//                     Concepts used
//                 </li>
//                 <li class="problems">
//                     Problems encountered
//                 </li>
//             </ul>
//         </div>
//     </div>
// </div>