
$desserts: "🍧", "🍦", "🍮", "🍩", "🍪", "🍫", "🍬", "🍰";

@for $dessert from 1 through length($desserts) {
    .skills {
        :nth-child(#{$dessert}) {
            list-style: nth($desserts, $dessert);
        }
    }
}


.skills {
    width: 50vw;
    margin: 0 auto $spacer-2;

    


    ul {
        font-size: 1rem;
        text-align: left; 
        // list-style: "🍦";

        li {
            padding-inline-start: $spacer-half;
            font-weight: 600;

            p {
                font-weight: 400;
                margin-block-start: 0;
            }
        }

    }

}

