
$desserts: "🍧", "🍦", "🍮", "🍩", "🍪", "🍫", "🍰", "🍬";

@for $dessert from 1 through length($desserts) {
    .skills {
        :nth-child(#{$dessert}) {
            list-style: nth($desserts, $dessert);
        }
    }
}


.skills {
    width: 90vw;
    margin: 0 auto $spacer-2;

    @media (min-width: 1200px) {
        width: 50vw;
    }
    


    ul {
        font-size: 1rem;
        text-align: left; 
        padding-inline-start: 16px;

        li {
            padding-inline-start: $spacer-half;
            font-weight: 600;

            h3 {
                font-weight: 600;
            }

            p {
                font-weight: 400;
                margin-block-start: 0;
            }
        }

    }

}

