$dark-chocolate:  #490206;

$sprinkle-top-offset: 25px, 290px, 70px, 340px, 25px, 290px, 70px, 340px, 25px, 290px, 70px, 340px, 25px, 290px, 70px, 340px,
    25px, 290px, 70px, 340px, 25px, 290px, 70px, 340px, 25px, 290px, 70px, 340px, 25px, 290px, 70px, 340px,25px, 290px, 70px;
$sprinkle-left-offset: 50px, 110px, 200px, 260px, 350px, 410px, 500px, 560px, 650px, 710px, 800px, 860px, 950px, 1010px, 1110px, 
    1160px, 1260px, 1310px, 1410px, 1460px, 1560px, 1610px, 1710px, 1760px, 1860px, 1910px, 2010px, 2060px, 2160px, 2210px, 
    2310px, 2360px, 2460px, 2510px, 2610px;
$sprinkle-transform: 60deg, 10deg, -60deg, -30deg, 45deg, 20deg, 115deg, 120deg, -45deg, -10deg, 50deg, 45deg, -20deg, 10deg, 
    60deg, 45deg, 50deg, 10deg, -20deg, 50deg, 60deg, -20deg, 45deg, 60deg, 10deg, 80deg, -20deg, 45deg, 60deg, 10deg, 80deg, 
    -20deg, 45deg, 60deg, 10deg;
$sprinkle-screen-minwidth: 1px, 1px, 1px, 1px, 1px, 450px,  540px, 600px, 690px, 750px, 840px, 900px, 990px, 1050px, 1150px, 
    1200px, 1300px, 1350px, 1450px, 1500px, 1600px, 1650px, 1750px, 1800px, 1900px, 1950px, 2050px, 2100px, 2200px, 2250px, 
    2350px, 2400px, 2500px, 2550px, 2650px;

@for $spr-index from 1 through length($sprinkle-top-offset) {
    .sprinkles {
        :nth-child(#{$spr-index}) {
            top: nth($sprinkle-top-offset, $spr-index);
            left: nth($sprinkle-left-offset, $spr-index);
            transform: rotate(nth($sprinkle-transform, $spr-index));
            display: none;

            @media (min-width: nth($sprinkle-left-offset, $spr-index)) {
                display: block;
            }
        }
    }
}


.sprinkles {
    width: 100vw;
    height: 600px;
    margin-top: -$curved-div-height;
    background-color: transparent;
    display: flex;
    position: relative;
    pointer-events: none;

    .sprinkle {
        background-color: #490206;
        height: $spacer-2;
        width: 12px;
        border-radius: 6px;
        box-shadow: 0.5vh 0.5vh 0 rgba(0, 0, 0, .25);
        box-shadow: 0.4vh 0.4vh 3px rgb(0 0 0 / 25%);
        position: absolute;

        animation: bounce-in-sprinkle 0.5s forwards;

    }

    @keyframes bounce-in-sprinkle {
        0% {
          opacity: 0;
          height: 0;
          width: 0;
        }
        20% {
          opacity: 1;
        }
        80% {
            height: calc($spacer-2 * 1.125);
            width: calc(12px * 1.125);
        }
        100% {
            height: $spacer-2;
            width: 12px;
        }
      }
}

.down-arrow {
    position: absolute;
    bottom: 0;
    left: 47%;

    img {
        height: 64px;
    }

    a {
        border-bottom: none;

        &:hover {
            border-bottom: none;
    
        }
    }
    
}