body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#weather-source {
    border: 2px solid $dark-blue;
    overflow-wrap: break-word;
    font-size: 0.75rem;
    padding: 10px 15px;
    width: 75%;
    margin: 0 auto;

    .hidden {
        display: none;
    }
}

#fetched-data {
    font-size: 1.375rem;

    @media (min-width: 1200px) {
        font-size: 1.5rem;
    }
}

#img {
    &__umbrella,
    &__sun {
        display: none;
        justify-content: center;
        margin: 0 auto;
        width: 100%;
    }
}

h2 {
    margin: 0;
    font-size: 1.25rem;
}

h3 {
    margin: 0;
}

.unbold {
    font-weight: 400;
}

.btn__weather-src {
    color: $pale-blue;
    background-color: $dark-blue;
    margin: 0 10px;
}

#temp-data {
    font-weight: 600;
}

#weather-image {
    position: relative;

    .temp-sticker {
        color: $pale-blue;
        background-color: $dark-blue;
        border-radius: 50%;
        width: 90px;
        height: 90px;
        margin: $regular-gap;
        padding: calc($regular-gap / 2);
        font-size: 0.7rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        bottom: -15px;
        right: -25px;
        border: 3px solid darken($pale-blue, 5%);

        
        @media (min-width: 1200px) {
            width: 135px;
            height: 135px;
            font-size: 0.9rem;
            bottom: 45px;
            right: -100px;
            border: 10px solid darken($pale-blue, 5%);
        }
    
        #gloves-test {
            font-size: 0.75rem;
            display: none;

            @media (min-width: 1200px) {
                display: block;
            }
        }
    }
}

.temp-graph-info-desktop {
    display: none;

    @media (min-width: 1200px) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.bargraph-temps {
    
    color: $dark-blue;
    min-width: 785px;
    font-size: 0.9375rem;
    font-weight: 400;
}

#bar-graph {
    border: 2px solid $dark-blue;
    height: 100px;
    width: 800px;
    margin: 0 $regular-gap 0;
    display: flex;
    gap: 4px;
    justify-content: center;
    align-items: flex-end;
}

.new-bar {
    background-color: $dark-blue;
    width: 25px;
    padding: 0 2px;
    color: darken($pale-blue, 5%);
    -webkit-text-stroke: 1px $dark-blue;
    font-size: 1rem;
    font-weight: 900;
    display: flex;
    flex-direction: column-reverse;
    // height: tempArr.foreach(temp => {
    //     (temp * 10) + "px"})
       
}


.weather-footer {
    margin-top: $spacer-3;
    margin-bottom: $spacer-2;
    text-align: center;
}
