$light-pink: #F5DADF;
$dark-blue: #163057;
$dark-blue-translucent: rgba(22,48,87,0.8);
$dark-grey: #434854;
$light-grey: lighten($dark-grey, 50%);
$oatmeal: #E8E3D6;
$pale-blue: #F6F9FC;

$regular-gap: 32px;
$spacer-half: 8px;
$spacer-1: 16px;
$spacer-2: 32px;
$spacer-3: 64px;

$border-1: 1px solid $dark-blue;
$border-2: 2px solid $dark-blue;
$border-thick: 5px solid $dark-blue;

$main-img-width: 300px;
$mobile-width-container: 300px;
$desktop-width-container: 1200px;

$margin-1: 40px;
$padding-1: 10px;
$padding-2: 20px;
$input-box-width: 300px;
$btn-size: 32px;

$transition-basic: all 0.6s ease;
$transition-fast: 0.3s ease;

$nav-bar-height: 58px;
$box-shadow: 0px 10px 10px rgb(0 0 0 / 20%);
$box-shadow-blue: 0 8px 16px 0 rgba(22,48,87,0.6);

@import "scss/header";
@import "scss/contact";
@import "scss/projects_page";
@import "scss/weatherapi";
@import "scss/bobby_slides";
@import "scss/certs";
@import "scss/todolist";
//@import "scss/carousel";
@import "scss/experience";
@import "scss/eight_ball";
@import "scss/moving_cards";
@import "scss/hangman";
@import "scss/sidebar_widget";
@import "scss/animation_project";
@import "scss/new_carousel";
@import "scss/curved_div";
@import "scss/sprinkles";
@import "scss/cake_quiz";
@import "scss/about_section";



html, 
body {
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0 auto;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: $dark-blue;
    background-color: $pale-blue; //lighten($oatmeal, 5%);
   
   
}

h1 {
    font-size: 2.75rem;
    font-weight: 600;
    z-index: 1;
    // changed to show the z index
    position: relative;
    margin: 30px 12px $spacer-1;

    @media (min-width: 1200px) {
        font-size: 3rem;
    }
}


[data-page-name="index"] {
    header {
        background-color: lighten($light-pink, 3%);
        
    }
	
}

main {
    font-size: 1.5rem;
    line-height: 2;
    margin-bottom: $spacer-2;
}

h2 {
    font-weight: 400;
}

input {
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    color: $dark-blue;

    @media (min-width: 1200px) {
        transition: $transition-basic;
        border-bottom: 1px solid transparent;
    }
    
    &:hover {
        @media (min-width: 1200px) {
            border-color: $dark-blue;
            
        }
      
    }
}


#birthday {
    justify-content: flex-start;
    border: $border-2;
    width: 325px;
    padding: $spacer-1 $spacer-2;
    background-color: $light-pink;
    margin: 0 auto;
}

.active-page {
    font-weight: 900;
}

.bolder {
    font-weight: 600;
}

button {
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}
