$light-pink: #F5DADF;
$dark-blue: #163057;
$dark-blue-translucent: rgba(22,48,87,0.8);
$dark-grey: #434854;
$light-grey: lighten($dark-grey, 30%);
$oatmeal: #E8E3D6;
$regular-gap: 32px;

@import "scss/header";
@import "scss/contact";
@import "scss/dropdown_menus";
@import "scss/projects_page";
@import "scss/weatherapi";
@import "scss/bobby_slides";
@import "scss/certs";
@import "scss/todolist";
@import "scss/carousel";


body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: $dark-blue;
    background-color: lighten($oatmeal, 5%);
}

h1 {
    font-size: 3em;
    font-weight: 600;
}

main {
    font-size: 24px;
    line-height: 2;
}

h2 {
    font-weight: 400;
}


#birthday {
    justify-content: flex-start;
    border: 2px solid $dark-blue;
    width: 330px;
    padding: 16px 32px;
    background-color: $light-pink;
}





