<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue App | Lucie's Portfolio Project</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,900;1,400;1,600;1,900&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" defer></script>
    <script src="vue_begin.js" defer></script>
</head>
  <body data-page-name="experience">

    <header>

        <nav class="nav-bar__inner-desktop">

          <ul class="nav-bar__items">
            <li class="nav-bar__item index">
              <a href="index.html">Home</a>
            </li>
            <li class="nav-bar__item dropdown-menu experience">
              <a href="experience.html">
                Experience ▾
              </a>
              <div class="nav-links">
                <a href="certs.html">Certificates</a>
                <a target="_blank" href="certs/cv_lucie_barlin_202304.pdf"> Download CV</a>
              </div>
            </li>
      
            <li class="nav-bar__item dropdown-menu projects">
              <a href="projects.html">Projects ▾</a>
              <div class="nav-links">
                <a  href="weatherapi.html">Umbrella checker</a>
              <a  href="cake_quiz.html">Cake quiz</a>
              <a  href="hangman.html">Hangman</a>
              <a  href="moving_cards.html">Moving cards</a>
              <a  href="todolist.html">Todo list</a>
              <a  href="slideshows.html">Slideshows</a>
              <a  href="eight_ball.html">Magic 8 Ball</a>
              </div>
            </li>
      
            <li class="nav-bar__item skills">
              <a href="skills.html">Skills</a>
            </li>
            <li class="nav-bar__item contact">
              <a href="contact.html">Contact</a>
            </li>
          </ul>
      
        </nav>

        <nav class="nav-bar__inner-mobile nav-position-new">

          <ul class="nav-bar__items nav-mobile-new">
            <li class="nav-bar__item index">
              <a href="index.html">Home</a>
            </li>
            <li class="nav-bar__item experience">
              <a href="experience.html">Experience</a>
            </li>
            <li class="nav-bar__item projects">
              <a href="projects.html">Projects</a>
            </li>
            <li class="nav-bar__item skills">
              <a href="skills.html">Skills</a>
            </li>
            <li class="nav-bar__item contact">
              <a href="contact.html">Contact</a>
            </li>
          </ul>
          <div aria-label="open nav menu" tabindex="0" class="menu-icon-wrapper">
            <div class="menu-icon">
  
            </div>
          </div>
  
        </nav>

        <h1>
            Vue App
        </h1>
    </header>

    <main id="cert-showcase" class="cert-showcase">

        <!-- <div id="app"> 
            <p> {{ greeting }} {{ yourName }} </p>
            <p>Love from {{ myName }} </p>

            <nav>
                <ul>
                    <li v-for="item in navList">
                       <a href="#"> {{ item }} </a>
                    </li>
                    
                </ul>
                
                <div v-if="emoji">
                    {{ emoji[0] }}
                    {{ emoji[1] }}
                </div>
                
                <div>
                    {{ doggy }}
                </div>
                
                
            </nav>
        </div> -->

        <div 
          v-for="cert in certInfoArr"
          class="captioned-card"
        >
       
        <!-- shorthand version uses only colon, no v-bind -->
            <img 
                :id="[cert.certID]" 
                v-bind:src="[cert.image]" 
                tabindex="0" 
                v-bind:alt="[cert.alt]" 
                class="cert modal-btn" 
                v-bind:data-target-modal="dataTargets[cert.slug]"
                v-on:click="toggleTheModals()" 
                v-on:keydown.enter="toggleTheModals"
                v-on:keydown.space="toggleTheModals"
            >
          <div v-bind:id="dataTargets[cert.slug]"
                v-if="displayModal"
                class="open-modal">
              <div class="modal-content">
                    <span 
                        tabindex="0" class="close"
                    >&times;</span>
                  <div><img v-bind:src="[cert.image]" v-bind:alt="[cert.alt]"></div>
              </div>
          </div>
          <h2> {{ cert.string }} </h2>
        </div>


    </main>

    <footer id="vue-footer">
      
      <div class="footer-info-wrapper">
        <div class="footer-info">
          {{ copyrightInfo }}
          <span class="bolder my-email copyto"> {{ myEmail }} </span> 
          <span class="bolder my-email mailto"> 
            <a href="mailto:lucie.barlin@hotmail.com?subject=Junior Web Developer role">
              Email me:  {{ myEmail }} 
            </a>
          </span>
          <button aria-label="copy email" class="copy-btn"> ⧉</button>
          <div id="email-tooltip" class="tooltiptext"> 
            Copy email
          </div>
          
        </div>

        <nav class="footer-nav">
          <ul>
            <li v-for="footerItem in footerNavList">
              <a 
                v-bind:href="hrefs[footerItem.slug]"
                v-bind:target="footerItem.slug === 'download_cv' ? '_blank' : '_self'" 
              >
                {{ footerItem.string }}
              </a>
            </li>
            <li 
              v-for="logoLink in socialLogoLinks" 
              class="social-logos-desktop"
            >
              <a target="_blank" v-bind:href="hrefsSocial[logoLink.slug]">
                <img v-bind:src="[logoLink.image]" v-bind:alt="[logoLink.alt]">
              </a>
            </li>
            <li class="social-logos-mobile">
              <a 
                v-for="logoLink in socialLogoLinks"
                target="_blank" v-bind:href="hrefsSocial[logoLink.slug]">
                  <img v-bind:src="[logoLink.image]" v-bind:alt="[logoLink.alt]">
              </a>
            </li>
          </ul>
        </nav>

      </div>

    </footer>








	<script src="script.js"></script>
  </body>
</html>